/*
Theme Name: Shoptimizer Child Theme
Theme URI: 
Description: Child theme of Shoptimizer
Author: CommerceGurus
Author URI: 
Template: shoptimizer
Version: 1.1.1
*/

/*Header*/

body a:hover, 
body a:focus {
	text-decoration: none;
}

.site-header {
	border-top: 60px solid #0f2231;
}

.woocommerce-active #masthead .shoptimizer-primary-navigation .site-header-cart {
	display: none;
}

.site-branding {
	position: absolute;
	width: 245px;
	height: 185px;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.site-header .site-branding .custom-logo-link img {
	height: 185px;
}

.site-header .col-full.main-header,
.site-header .col-full-nav {
	padding-top: 0;
}

.site-header .col-full.main-header {
	min-height: 60px;
}

.site-header .col-full.topbar-wrapper {
	border: none;
}

.site-header #menu-top-left li,
.site-header #menu-top-right li,
.site-header #menu-top-left-1 li,
.site-header #menu-top-right-1 li {
	display: inline-block;
	margin: 18px 0;
	padding: 0 10px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
}

.site-header #menu-top-left li:first-child,
.site-header #menu-top-right li:last-child,
.site-header #menu-top-left-1 li:first-child,
.site-header #menu-top-right-1 li:last-child {
	padding-left: 0;
}

#menu-header li.my-account,
#menu-header li.log-in {
	float: right;
}

body.user-login #menu-header li.my-account,
#menu-header li.log-in {
	display: block;
}

#menu-header li.my-account,
body.user-login #menu-header li.log-in {
	display: none;
}

#menu-header li.order-now-link {
	border: none !important;
	float: right;
}

#menu-header li.cart-link {
	float: right;
}

.woocommerce-checkout.minimal-checkout .site-header #site-navigation {
	display: block;
}

.woocommerce-checkout.minimal-checkout header .main-header h1 {
	display: none;
}

.success-top-text {
	text-align: center;
	margin-top: 60px;
}

body .entry-content .success-top-text p {
	margin-bottom: 5px;
	color: #000;
	font-weight: 700;
}

body .entry-content .thank-you-bacs p {
	color: #000;
	font-weight: 500;
}

.thank-you-bacs {
	max-width: 840px;
	background: #fefefe;
	padding: 0px 0px 30px;
	margin: 20px auto 40px;
	-webkit-box-shadow: -5px 10px 20px 2px rgba(122,122,122,0.2);
	-moz-box-shadow: -5px 10px 20px 2px rgba(122,122,122,0.2);
	box-shadow: -5px 10px 20px 2px rgba(122,122,122,0.2);
	font-size: 17px;
	font-weight: 500;
	text-align: center;
}

.thank-you-bacs-header {
	padding: 20px;
	margin-bottom: 10px;
	background: #f5f3ef !important;
	font-weight: 500 !important;
	text-align: center;
}

.thank-you-bacs .row .col-sm-6 {
	padding: 40px 30px 0 30px;
}

.menu-primary-menu-container > ul > li.order-now-link:hover > a span::before {
	display: none !important;
}

#menu-header li.order-now-link a span,
.single .site-main input[type="submit"],
.error404 ul.products li.product .button,
.button.button-primary,
.product_list_widget li a.order-button {
	background: #df591b;
	color: #fff;
}

#menu-header li.order-now-link a span,
.button.button-primary {
	border-radius: 4px;
	padding: 5px 10px;
	font-weight: normal;
}

.product_list_widget li a.order-button {
	border-radius: 4px;
	padding: 3px 8px;
	font-weight: 400;
	font-size: 14px;
}

#menu-header li.order-now-link a:hover span,
.single .site-main input[type="submit"]:hover,
.error404 ul.products li.product .button:hover,
.button.button-primary:hover,
.product_list_widget li a.order-button:hover {
	background: #be3d01;
}

#menu-header li.order-now-link a span,
body .elementor-button,
.product_list_widget li a.order-button {
	transition: all .1s;
}

#masthead .main-navigation {
	width: 100%;
}

.main-header button.menu-toggle,
.woocommerce-active .site-header .main-header .site-header-cart {
	display: none !important;
}

.topbar-wrapper .menu-toggle-custom {
	display: none;
	position: absolute;
	z-index: 2;
	width: 24px;
	height: 16px;
	padding: 0;
	background-color: transparent;
	right: 15px;
	left: auto;
	top: 50%;
	transform: translate(0, -50%);
}

.topbar-wrapper .menu-toggle-custom .bar {
	display: block;
	position: absolute;
	z-index: 1;
	top: calc(50% - 1px);
	width: 22px;
	height: 2px;
	opacity: 1;
	background-color: #fff;
	transition: transform .15s ease-in 0s,margin .15s ease-in .2s,opacity 0s ease-in .15s;
	transform: rotate(0deg);
}

.menu-toggle-custom .bar:first-child {
	margin-top: -7px;
}

.menu-toggle-custom .bar:nth-child(3) {
	margin-top: 7px;
}

.menu-toggle-custom.active .bar:first-child {
	margin-top: -1px;
	transform: rotate(45deg);
}

.menu-toggle-custom.active .bar:nth-child(2) {
		display: none;
}

.menu-toggle-custom.active .bar:nth-child(3) {
		margin-top: -1px;
		transform: rotate(-45deg);
}

.woocommerce #content .entry-header {
	display: none !important;
}

#content .category-links {
	width: 100%;
	text-align: center;
}

#content .category-links li{
	display: inline-block;
	list-style: none;
	margin-right: 20px;
}

#content .category-links a{
	font-size: 16px;
	color: #888888;
	line-height: 1.63;
}

#content .category-links li.active a,
#content .category-links a:hover{
	color: #222222;
	text-decoration: underline;
}

#content .category-links a:last-child{
	margin-right: 0;
}

.archive .archive-header, .page-template-default .archive-header {
	padding-bottom: 0;
}

/*Footer*/

.below-content {
	border: none !important;
}

footer .widget li {
	line-height: 2;
}

.site-footer .footer-brands {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.site-footer .footer-brands:first-child {
	margin-top: -15px;
	margin-bottom: 10px;
}

.site-footer .col-full .widget:last-child {
	flex: 3 0px;
	padding: 0;
}

.site-footer .footer-brands img {
	margin: 10px 15px;
}

.copyright .textwidget {
	text-align: left;
}

/*Content*/

.page-template-default .entry-header {
	display: none;
}

.quick-menu-item:hover .elementor-icon i, 
.quick-menu-item:hover .elementor-icon svg {
	filter: brightness(100);
}

.quick-menu-item:hover .elementor-icon-box-content .elementor-icon-box-title {
	color: #fff !important;
}

/*Woocommerce*/

.site-content .products {
	display: block;
	list-style: none;
}

.site-content .products > li {
	width: 100%;
	background-color: #f8f8f8;
	margin-bottom: 20px;
	padding: 25px 35px;
	border-radius: 2px;
	border: none;
	overflow: hidden;
	position: relative;
}

.site-content .products > li.popular {
	border: solid 2px #dfaa1b;
}

.site-content .products > li.popular .label{
	background: #dfaa1b;
	position: absolute;
	right: -29px;
	top: 15px;
	padding: 1px 30px;
	color: #fff;
	font-size: 15px;
	transform: rotate(45deg);
}

.site-content .products > li .row {
	display: flex;
}

.site-content .products > li .col-75 {
	width: 75%;
}

.site-content .products > li .col-25 {
	width: 25%;
}

.site-content .products li .product-head {
	display: block;
}

.site-content .products li .product-content {
	display: block;
	margin-top: 30px;
}

.site-content .products li .right .product-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.site-content .products li .right .product-content .order-faq {
	color: #222;
	font-size: 15px;
	margin: 20px 0;
}

.site-content .products li .right .product-content .order-faq:hover {
	text-decoration: underline;
}

.site-content .products li .left,
.site-content .products li .right {
	display: block;
}

.site-content .products li .left .product-content {
	padding-left: 50px;
}

.site-content .products li .left .product-content ul {
	margin: 0;
	list-style: none;
}

.site-content .products li .left .product-content ul li {
	position: relative;
	width: 40%;
	float: left;
	border: none;
	line-height: 1;
	margin-bottom: 15px;
	padding: 0;
	padding-left: 23px;
	font-size: 15px;
	color: #222222;
}

.site-content .products li .left .product-content ul li:before {
	content: url('./assets/img/check-box.png');
	position: absolute;
	left: 0;
	top: 1px;
	width: 11px;
}

.site-content .products li .product-content .order-button {
	background: #df591b;
	border-radius: 4px;
	padding: 10px 30px;
	color: #fff;
	font-weight: normal;
}

.site-content .products li .product-content .order-button:hover {
	background: #be3d01;
}


.site-content .products li .product-list-price {
	font-size: 21px;
	color: #888888;
} 

.site-content .products li .product-list-price .woocommerce-Price-amount {
	color: #df591b;
}

.site-content .products li img {
	float: left;
	max-width: 36px;
	margin-right: 15px;
}

.site-content .products li .product-title {
	font-family: "IBM Plex Sans";
	font-size: 21px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.52;
	letter-spacing: normal;
	text-align: left;
	color: #222222;
	text-transform: uppercase;
}

#ppom-price-container .ppom-option-total-price {
	display: none !important;
}
.woocommerce.archive.left-woocommerce-sidebar .content-area {
	width: 100%;
}

body #main ul.products {
	width: 100%;
	margin: 0;
}

.tax-product_cat .site-content header.woocommerce-products-header {
	background-color: transparent;
	flex-direction: column;
}

.woocommerce-products-header .woocommerce-products-header__title{
	color: #222;
	font-size: 28px;
	margin-bottom: 0;
	margin-top: 10px;
	font-weight: 400;
}

.woocommerce-products-header .term-description p {
	font-size: 17px;
	color: #555555;
}

.archive.shoptimizer-full-width-content .woocommerce-products-header {
	padding-bottom: 25px;
}

/*Single product*/

.single.single-product .archive-header .woocommerce-breadcrumb {
	padding-left: 0;
}

.single-product #content.site-content .col-full {
	background: transparent;
}

.single-product #page #content div.product .summary {
	width: 100%;
	margin: 0;
}

.single-product .ppom-wrapper .align-items-center {
	align-items: flex-start !important;
}

.ppom-wrapper .ppom-field-wrapper {
	overflow: hidden;
	margin-bottom: 1rem;
}

.ppom-wrapper .ppom-field-wrapper .form-group {
	margin-bottom: 0;
	overflow: visible;
	min-height: 80px;
}

body table.shop_table_responsive tr td.product-quantity,
body table.shop_table_responsive tr .variation-CustomAmount,
.variation-CustomAmount {
	display: none !important;
}

.product_cat-traffic-wizard-self-serve-platform .ppom-wrapper .ppom-field-wrapper .form-group .form-check:last-child .label-price{
	display: none !important;
}


body.single-product .cart .single_add_to_cart_button,
.single-post .single-product .cart .single_add_to_cart_button,
#ppom-price-container {
	width: calc(50% - 20px);
	float: right;
}

body.single-product .cart .single_add_to_cart_button,
.single-post .single-product .cart .single_add_to_cart_button {
	border-radius: 4px;
	background-color: #df591b
}

body.single-product .cart .single_add_to_cart_button:hover,
.single-post .single-product .cart .single_add_to_cart_button:hover {
	background-color: #be3d01;
}

body.single-product .single-reseller-note {
	width: calc(50% - 20px);
	float: right;
	text-align: right;
	margin-top: -20px;
	margin-bottom: 20px;
}

body.single.single-product h1,
body.single.single-product .summary h1 {
	display: block;
	text-align: center;
	color: #222;
	font-size: 28px;
	font-weight: 400;
	margin: 25px 0;
}

body.single.single-product .product-description {
	font-size: 17px;
	color: #555;
	text-align: center;
}

body.single.single-product div.product form.cart {
	margin-top: 30px;
	margin-bottom: 0;
	padding-bottom: 30px;
}

body.single.single-product .redeem-coupon {
	float: right;
	padding: 20px 20px 5px !important;
	width: calc(50% - 20px);
	border: 1px solid #e2e2e2;
	background-color: #f9f9f9;
}

body.single.single-product .redeem-coupon div {
	display: flex;
}

body.single.single-product #redeem_coupon {
	margin-left: 15px;
	border-radius: 4px;
	padding: 5px 10px;
	font-weight: normal;
	background: #df591b;
	color: #fff;
	transition: all .1s;
}

body.single.single-product #redeem_coupon:hover {
	background: #be3d01;
}

body.woocommerce-checkout .woocommerce-info {
	text-align: left;
}

body.woocommerce-cart a.remove::before {
	font-size: 12px;
	font-weight: bold;
	margin-top: 0;
}

.ppom-rendering-fields .ppom-input-volume {
	padding-right: 20px;
}

.ppom-rendering-fields > .does_your_page_contain_a_popup {
	padding-left: 20px !important;
}

.does_your_page_contain_a_popup .form-check,
.i_live_inside_the_eu .form-check {
	float: right;
}

.ppom-wrapper .form-check-label {
	cursor: pointer;
}

.ppom-wrapper .volume .form-group .form-check {
	margin: 0;
}

.ppom-wrapper .volume .form-check-label {
	padding: 10px;
	width: 100%;
	font-size: 17px;
	font-weight: 400;
	color: #222222;
}

.ppom-wrapper .volume .form-check-label input {
	margin-right: 10px;
}

.ppom-wrapper .volume .form-check-label .label-price {
	float: right;
}

.ppom-wrapper .volume .form-group .form-check:nth-child(even) {
	background-color: #f8f8f8;
}

.ppom-wrapper label.form-control-label {
	position: relative;
	font-size: 17px;
	color: #222222;
}

.ppom-input-url label.form-control-label {
	width: 100%;
}

/*.ppom-wrapper #url {
	width: 60%;
	height: 38px;
	float: left;
}*/

.ppom-wrapper #check_compatibility {
	width: 38%;
	height: 38px;
	float: right;
	text-align: center;
	line-height: 38px;
	margin-left: 2px;
	border-radius: 4px;
	background-color: #df591b;
	color: #fff;
	font-family: IBM Plex Sans;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	overflow: hidden;
	padding: 0 5px;
}

.ppom-wrapper #check_compatibility:hover {
	background-color: #be3d01;
}

.check-compatibility-container {
	display: none;
	width: 100%;
	height: 350px;
	margin-top: 60px;
	overflow: hidden;
	border-radius: 4px;
	border: 2px solid #036;
}

.ppom-wrapper .ppom-col span.show_description,
.ppom-wrapper .ppom-col span.show_required {
	display: none;
}

.ppom-wrapper .ppom-col span.show_description {
	position: absolute;
	top: -50%;
	left: calc(100% + 15px);
	width: 200px;
	padding: 8px 15px;
	font-size: 15px;
	color: #fff;
	background-color: #222;
	z-index: 10;
	border-radius: 3px;
	line-height: 1.4;
	transition: all 0.5s;
}

.ppom-wrapper .ppom-col.url span.show_description {
	left: 60px;
}

.ppom-wrapper .ppom-col span.show_description:before {
	content: '';
	position: absolute;
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-right:10px solid #222;
	left: -5px;
	top: 50%;
	transform: translate(0, -50%);
}

.ppom-wrapper .description_icon:before {
	content: url('./assets/img/information-button.png');
	position: relative;
	left: 5px;
	top: 2px;
	cursor: pointer;
	max-width: 15px;
}

.ppom-wrapper .description_icon:hover ~ .show_description {
	display: block;
}

.single-product .ppom-wrapper .form-control:focus {
	box-shadow: none;
	border: solid 1px #df591b;
}

body.single.single-product .continue-shopping {
	width: calc(50% - 20px);
	padding: 15px;
	border-radius: 4px;
	background-color: #eaeaea;
	color: #222222;
	font-size: 19px;
	display: block;
	text-align: center;
	font-weight: bold;
	float: right;
	transition: all 0.3s;
}

body.single.single-product .continue-shopping:hover {
	background-color: #d2d2d2;
}

body.single.single-product .sponsor-list-container {
	width: 100%;
	display: block;
	overflow: hidden;
}

body.single.single-product .sponsor-list {
	width: calc(50% - 20px);
	float: right;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 30px;
}

.single-product.single #page #content div.product .summary {
	margin-bottom: 60px;
}

.single-product .ppom-wrapper .table {
	margin-bottom: 0;
}

.single-product .ppom-wrapper .table th, 
.single-product .ppom-wrapper .table td {
	border: none;
}

.single-product .ppom-wrapper .table th.ppom-label-item {
	padding-left: 0;
	font-size: 21px;
	font-weight: bold;
	color: #222222;
	text-transform: uppercase;
}

.single-product .ppom-wrapper .table th.ppom-price-item {
	padding-right: 0;
	text-align: right;
	font-size: 21px;
	font-weight: bold;
	color: #df591b;
	text-transform: uppercase;
}

.woocommerce-page .woocommerce-message {
  background-color: #259ed0;
  border-color: #0f2231;
}

.woocommerce-cart .woocommerce .woocommerce-message {
	margin-bottom: 10px;
}

.woocommerce-page .entry-content p.woocommerce-thankyou-order-received {
	margin-top: -1px;
	background-color: #004f70;
}

.woocommerce-page ul.checkout-bar::before, 
.woocommerce-page.woocommerce-checkout .checkout-bar li.active::after, 
.woocommerce-page ul.checkout-bar li.visited::after{
	background-color: #259ed0;
}

.woocommerce-page.woocommerce-checkout ul.checkout-bar li::before {
	border: none;
}

.woocommerce-page.woocommerce-cart ul.checkout-bar li.active::before, 
.woocommerce-page.woocommerce-checkout ul.checkout-bar li.active::before, 
.woocommerce-page.woocommerce-checkout ul.checkout-bar li.next::before {
	background-color: #0f2231;
}

body.woocommerce-page .woocommerce #respond input#submit.alt, 
body.woocommerce-page .woocommerce a.button.alt, 
body.woocommerce-page .woocommerce button.button.alt, 
body.woocommerce-page .woocommerce input.button.alt, 
.product.woocommerce-page .cart .single_add_to_cart_button, 
.woocommerce-page .shoptimizer-sticky-add-to-cart__content-button a.button, 
.woocommerce-page .shoptimizer-mini-cart-wrap .widget_shopping_cart a.button.checkout, 
body.woocommerce-page .main-navigation ul.menu li.menu-item-has-children.full-width > .sub-menu-wrapper li a.button, 
body.woocommerce-page ul.products li.product .button, 
body .main-navigation.woocommerce-page ul.menu li.menu-item-has-children.full-width > .sub-menu-wrapper li a.added_to_cart, 
body.woocommerce-page ul.products li.product .added_to_cart, 
.woocommerce-cart.woocommerce-page p.return-to-shop a, 
.woocommerce-page .site-main input[type="submit"], 
.woocommerce-page .site-main div.wpforms-container-full .wpforms-form input[type="submit"], 
.woocommerce-page.site-main div.wpforms-container-full .wpforms-form button[type="submit"], 
.woocommerce-page.entry-content .feature a, .image-feature figcaption span, 
.woocommerce-page.entry-content p.woocommerce.add_to_cart_inline a.button,
body .entry-content .checkout_coupon .button,
body table.cart td.actions button {
	background-color: #df591b;
	color: #fff;
}

body table.cart td.actions button:hover, body .entry-content .checkout_coupon .button:hover, .woocommerce-page.woocommerce-cart p.return-to-shop a:hover, body.woocommerce-page .woocommerce #respond input#submit.alt:hover, body.woocommerce-page .woocommerce a.button.alt:hover, body.woocommerce-page .woocommerce button.button.alt:hover, body.woocommerce-page .woocommerce input.button.alt:hover, .product.woocommerce-page .cart .single_add_to_cart_button:hover, .woocommerce-page .shoptimizer-sticky-add-to-cart__content-button a.button:hover, .woocommerce-page .shoptimizer-mini-cart-wrap .widget_shopping_cart a.button.checkout:hover, body.woocommerce-page .main-navigation ul.menu li.menu-item-has-children.full-width > .sub-menu-wrapper li a.button:hover, body.woocommerce-page ul.product.woocommerce-pages li.product.woocommerce-page .button:hover, body.woocommerce-page .main-navigation ul.menu li.menu-item-has-children.full-width > .sub-menu-wrapper li a.added_to_cart:hover, body.woocommerce-page ul.product.woocommerce-pages li.product.woocommerce-page .added_to_cart:hover, .woocommerce-cart p.return-to-shop a:hover, .site-main input[type="submit"]:hover, .site-main div.wpforms-container-full .wpforms-form input[type="submit"]:hover, .site-main div.wpforms-container-full .wpforms-form button[type="submit"]:hover, .entry-content p.woocommerce.add_to_cart_inline a.button:hover {
	background-color: #be3d01;
	color: #fff;
}

body .entry-content .checkout_coupon .button,
body table.cart td.actions button {
	border-radius: 4px;
	font-size: 14px !important;
}

table.cart.shop_table_top {
	padding: 0 20px 20px;
	margin-bottom: 20px;
	background-color: #f9f9f9;
	border: 1px solid #e2e2e2;
}

table.cart.shop_table_top input,
body .checkout_coupon input {
	background: #fff !important;
	border: 1px solid #e2e2e2 !important;
	min-width: 230px;
}

body .checkout_coupon {
	display: block !important;
	padding: 20px 20px 10px !important;
	background-color: #f9f9f9;
	border: 1px solid #e2e2e2;
}

table.cart.shop_table_top .coupon button {
	margin-left: 25px;
}

.cart-collaterals {
	margin-top: 100px;
}

.single-product .ppom-wrapper .form-row > [class*="col-"],
.single-product .ppom-wrapper .form-row > [class*="col-"] .ppom-col {
	overflow: visible;
}

.ppom-wrapper .urlerrormsg {
	color: #df591b;
}

.woocommerce-page .woocommerce-info, 
.woocommerce-page .woocommerce-noreviews, 
.woocommerce-page p.no-comments {
	background-color: #259ed0;
	border-color: #0f2231;
}

.woocommerce-page .woocommerce-info p {
	color: #fff;
	margin: 0;
}

.woocommerce-cart .product-name a > small,
.woocommerce-checkout .product-name a > small {
	font-size: 12px;
	color: #fff;
	padding: 5px 8px;
	background: #df591b;
	border-radius: 3px;
}

.woocommerce-cart .product-name a:hover > small,
.woocommerce-checkout .product-name a:hover > small {
	background-color: #be3d01;
}

.woocommerce-checkout .product-name .product-quantity,
body.single-product div.product form.cart .quantity {
	display: none !important;
}

.ppom-wrapper .ppom-field-wrapper .ppom-input-quantities table thead,
.ppom-wrapper .ppom-field-wrapper .ppom-input-quantities .table th {
	display: none;
}

.ppom-wrapper .ppom-field-wrapper .ppom-input-quantities input.ppom-quantity {
	display: block;
	width: 100% !important;
	text-align: left !important;
	padding: 0.375rem 0.75rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-image: none;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.woocommerce-page.woocommerce-cart p.cart-empty {
	color: #222;
	font-size: 32px;
	border: none;
	background: #fff;
}

.woocommerce-order p.woocommerce-notice.center {
	text-align: center;
}

.woocommerce-order p.woocommerce-notice.italic {
	font-style: italic;
	font-size: 16px;
}

.woocommerce-page.woocommerce-checkout ul.order_details {
	margin-top: 15px;
}

.review-block .elementor-testimonial-wrapper .elementor-testimonial-meta {
	position: absolute;
	width: auto;
	right: 0;
	bottom: --30px;
	padding: 9px 15px 6px 15px;
	background-color: #5F93AC;
	border-radius: 0px 0px 5px 5px;
	box-shadow: inset 0px 2px 3px #30434E, inset 0px -1px 0px #398DBD;
}

.services-tags ul {
	margin: 0;
}

body .services-tags ul li {
	list-style: none;
	display: inline-block;
	padding: 4px 4px 2px 4px;
	background-color: #161616;
	margin-right: 10px;
	margin-bottom: 5px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	font-size: 12px;
	border: 1px solid #161616;
	box-shadow: inset 0px 1px 0px #333;
	cursor: default;
	color: #B7D0E2;
}

#lightCont, #freetrialpopupCont {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	position: fixed;
	top: 0px;
	left: 0px;
	display: block;
	z-index: 9999;
}

#lightbox, #freetrialBox {
	position: relative;
	text-align: center;
	display: block;
	background-color: #fff;
	top: 0px;
	left: 0px;
	z-index: 999999;
	margin: 0 auto;
	border-radius: 15px;
	overflow: hidden;
	width: 90%;
	min-height: 50px;
	max-height: 100%;
	overflow: auto;
}

#freetrialBox {
	max-width: 700px;
	max-height: 300px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	margin: auto;
	left: 0px;
	right: 0px;
	color: #000;
	text-shadow: none !important;
	padding: 30px;
}

.nyroModalCloseButton {
	top: 0px;
	right: 7px;
	width: 20px;
	height: 20px;
	z-index: 9999999;
	margin-left: -7px;
	margin-top: 7px;
	position: absolute;
	font-size: 20px;
}

.custom-announcements​ .obfx-grid .entry-title {
	float: left;
}

.custom-announcements​ .obfx-grid .entry-title a {
	border: none;
}

.custom-announcements​ .obfx-grid .obfx-grid-meta .obfx-grid-date {
	position: relative;
	left: 15px;
	top: 7px;
}

.custom-announcements​ .obfx-grid .obfx-grid-content {
	margin-top: 20px;
}

.ppom-wrapper .ppom-input-niche:after,
.ppom-wrapper .ppom-input-delivery_speed:after {
	content: '';
	position: absolute;
	right: 20px;
	bottom: 20px;
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #aeaeae;
}

.ppom-ajax-validation {
	display: block;
	position: relative;
	padding-top: 30px;
}

.single-product .ppom-ajax-validation .woocommerce-error {
	border: none;
}

.obfx-grid-pagination .pagination .page-numbers {
	margin: 0 7px;
}

.obfx-grid-pagination .pagination .page-numbers.next, 
.obfx-grid-pagination .pagination .page-numbers.prev {
	padding: 5px 15px;
	border-radius: 2px;
	background-color: #f5f5f5;
	display: inline-block;
	border-left-width: 0;
	color: #43454b;
}

.obfx-grid-pagination .pagination .page-numbers.prev::before {
	margin-right: 13px;
	font-family: Rivolicons,sans-serif;
	font-size: 12px;
	content: "\e602";
}

.obfx-grid-pagination .pagination .page-numbers.next::after {
	margin-left: 13px;
	font-family: Rivolicons,sans-serif;
	font-size: 12px;
	content: "\e603";
}

.woocommerce-MyAccount-content .woocommerce-Address-title {
	display: block;
	overflow: hidden;
}

.woocommerce-checkout .woocommerce-error a {
	opacity: 0.8;
}

/* Banner pages */
.single-banner_page .bp-header,
.page .co-header {
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 80px 0;
}

.single-banner_page .instructions {
    font-size: 18px;
    padding: 50px 0;
}

.single-banner_page .instructions p {
    text-align: center;
    white-space: pre-line;
}

.single-banner_page .instructions ul,
.single-banner_page .instructions ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.single-banner_page .instructions li {
    position: relative;
    padding-left: 30px;
    margin: 15px 0;
}

.single-banner_page .instructions li:before {
    content: '\203a';
    width: 16px;
    height: 16px;
    line-height: .7;
    text-align: center;
    color: #fff;
    background-color: #2097d9;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -8px;
}

.single-banner_page .bp-greenbox {
    min-height: 70px;
    font-style: italic;
    color: #565656;
    background-color: #e9f3d1;
    border: 2px solid #91b64f;
    position: relative;
    padding: 10px 15px;
}

.single-banner_page .bp-greenbox:after {
    content: '\e007';
    font-family: 'streamline-30px';
    font-size: 48px;
    color: #91b64f;
    position: absolute;
    bottom: 0;
    right: 15px;
}

.single-banner_page .single-banner {
	display: flex;
    padding-bottom: 50px;
}

.single-banner_page .single-banner.bp-row-break {
    clear: left;
}

.single-banner_page .single-banner .image {
    position: relative;
    display: flex;
	align-items: center;
}

.single-banner_page .single-banner .image:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.single-banner_page .single-banner .image img {
    margin: 0 auto;
}

.single-banner_page .banners-horizontal .single-banner .image img {
    margin: 0 auto 20px;
}

.single-banner_page .single-banner .embed-code strong,
.single-banner_page .single-banner .embed-code textarea,
.single-banner_page .single-banner .embed-code .button {
    width: 100%;
    text-align: center;
    display: block;
}

.single-banner_page .single-banner.banners-vertical .embed-code strong,
.single-banner_page .single-banner.banners-vertical .embed-code textarea,
.single-banner_page .single-banner.banners-vertical .embed-code .button {
    width: calc(100% - 20px);
    margin-left: 20px;
}

.single-banner_page .single-banner .embed-code strong {
    white-space: pre-line;
}

.single-banner_page .single-banner .embed-code textarea {
    text-align: left;
    resize: none;
    padding: 10px;
    margin: 20px 0;
}

.single-banner_page .single-banner.banners-vertical .embed-code textarea {
    margin: 20px 0 20px 20px;
}

.single-banner_page .single-banner .embed-code .button {
    padding-left: 0;
    padding-right: 0;
}

.single-banner_page .bp-highlight {
    color: #000;
    background: #fabc14;
    border-bottom: 2px solid #e3a809;
    border-radius: 6px;
    white-space: nowrap;
    display: inline-block;
    padding: 5px 5px 3px;
}

.single-banner_page .bp-counter > span {
    width: 1em;
    line-height: 1;
    color: #fff;
    background: linear-gradient(to bottom, #666, #000 50%, #999 50%, #999 calc(50% + 1px), #555 calc(50% + 1px), #000);
    border-radius: 3px;
    display: inline-block;
    padding: 2px 0;
    margin: 0 1px;
}

.single-banner_page .bp-counter > span:last-child {
    border-radius: 0 0 3px 3px;
    position: relative;
    top: -2px;
    padding-top: 0;
}

.single-banner_page .bp-counter > span:last-child::after {
    content: '';
    height: 2px;
    background: #000;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
}

/*Toplists page*/

#categories,
.categories
{
    overflow:hidden;
    margin-bottom:30px;
    border: 1px solid #d8dbe5;
    border-radius: 8px;
    background: #fff;
}

.mrk-no-bg #categories, .mrk-no-bg .categories
{
    border: none;
    border-radius: 0;
    background: none;
}

#categories .col-sm-3,
.categories .col-sm-3
{
    padding: 0;
}

#categories .col-sm-3 > div a,
.categories .col-sm-3 > div a
{
    color: #303237;
    font-size: 16px;
    font-weight: bold;
}

body.post-type-archive-shop_category #categories .col-sm-3 > div a:before,
body.post-type-archive-shop_category .categories .col-sm-3 > div a:before
{
    content: '';
    display: block;
    position: absolute;
    z-index: 10 !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

body.post-type-archive-shop_category #categories .col-sm-3:first-child > div,
body.post-type-archive-shop_category .categories .col-sm-3:first-child > div,
body.post-type-archive-shop_category #categories .col-sm-3 > div
{
    margin: 15px;
    padding: 30px 25px;
    border-radius: 6px;
    border: 1px solid #d8dbe5;
    height: 150px;
    overflow: hidden;
    position:relative;
    text-align: center;
}

body.post-type-archive-shop_category #categories .col-sm-3:hover > div,
body.post-type-archive-shop_category #categories .col-sm-3.tip:hover > div,
body.post-type-archive-shop_category .categories .col-sm-3:hover > div
{
    cursor: pointer;
}

.page-template-rblusers-causes #categories #goe-form {
    margin-top: 23px;
}

.voor
{
    text-align: left;
    display: none;
}

.voor-header
{
    font-size: 18px;
    font-weight: bold;
}

#categories .col-sm-3:hover > div a,
.categories .col-sm-3:hover  > div a{
    text-decoration:none;
}

body.post-type-archive-shop_category #categories .col-sm-3.tip > div
{
    border: 1px solid #22a3d2;
    background: #fff;

}

.page-thumb {
	height: 300px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.cat-padding {
	padding: 30px;
	font-size: 17px;
	color: #888a8f;
	line-height: normal;
}

.single-toplist .toplist-website {
	border-top: 1px solid #d8dbe5;
	padding-top: 30px;
	margin-top: 30px;
}

.single-toplist .site-ratings {
	width: 190px;
    border: 0;
    padding: 0;
    margin: 0 0 20px;
}

.single-toplist .site-ratings th, 
.single-toplist .site-ratings td {
	font-weight: normal;
	line-height: 1.5;
	text-align: left !important;
	white-space: nowrap;
	border: 0;
	padding: 0;
}

.single-toplist .site-ratings td .rating-highlight {
	color: #fabc14;
}

.single-toplist .site-ratings th:after {
    content: ':';
}

.single-toplist .site-desc {
	width: 100%;
	text-align: justify;
	clear: both;
}

.flex-container {
	display: flex;
	justify-content: center;
}

body .widget.woocommerce li .count {
	display: block;
}

body .widget .widget-title, 
body .widget .widgettitle {
	font-size: 24px;
	font-weight: bold;
}

body .sidebar .widget {
	border: 1px solid #d8dbe5;
	border-radius: 8px;
	background: #fff;
	padding: 20px;
	overflow: hidden;
	margin-bottom: 30px;
}

.product_list_widget li img,
.product_list_widget li .left .product-content,
.product_list_widget li .right .product-head,
.product_list_widget li .row > * {
	display: none !important;
}

.product_list_widget li .row > .column {
	display: block !important;
}

.product_list_widget li .row > .column.right {
	margin-left: 20px;
}

.product_list_widget li .row {
	display: flex;
	justify-content: flex-start;
	margin: 0;
	align-items: center;
}

.single-post .single-product {
	padding: 20px;
	background: #efefef;
}

.single-post .single-product div.product .summary {
	float: none;
	width: 100%;
	margin: 0;
}

.single-post .single-product div.product .summary .shoptimizer-product-prevnext,
.single-post .single-product div.product .summary .continue-shopping,
.single-post .single-product div.product .summary .sponsor-list-container,
.single-post .single-product div.product .summary .product_meta {
	display: none !important;
}

.order-traffic-now {
	font-size: 22px;
	color: #fff !important;
	text-shadow: 1px 1px 1px #555;
	text-transform: uppercase;
	background: -webkit-gradient(linear, left top, left bottom, from(#81c401), to(#73af01));
	background: -moz-linear-gradient(top, #81c401, #73af01);
	background: -ms-linear-gradient(top, #81c401, #73af01);
	background: -o-linear-gradient(top, #81c401, #73af01);
	-webkit-box-shadow: -5px 5px 20px 2px rgba(122,122,122,0.2);
	-moz-box-shadow: -5px 5px 20px 2px rgba(122,122,122,0.2);
	box-shadow: -5px 5px 20px 2px rgba(122,122,122,0.2);
	padding: 16px 36px !important;
	position: relative;
	font-weight: bold;
	overflow: hidden;
	text-decoration: none;
	-webkit-transition: ease 0.3s;
	transition: ease 0.3s;
	border-radius: 5px;
	margin: 40px 10px 10px;
}

.order-traffic-now:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#7cbb02), to(#6ca501));
	background: -moz-linear-gradient(top, #7cbb02, #6ca501);
	background: -ms-linear-gradient(top, #7cbb02, #6ca501);
	background: -o-linear-gradient(top, #7cbb02, #6ca501);
	box-shadow: -10px 16px 20px 2px rgba(122,122,122,0.2);
}

/*Contact Page*/

body div.wpforms-container-full .wpforms-form input[type="email"],
body div.wpforms-container-full .wpforms-form input[type="text"],
body div.wpforms-container-full .wpforms-form textarea {
	display: block;
	width: 100%;
	padding: .375rem .75rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-image: none;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

body div.wpforms-container-full {
	max-width: 800px;
}

body div.wpforms-container-full .wpforms-form .wpforms-field-label {
	font-size: 17px;
	color: #222;
}

body .site-main div.wpforms-container-full .wpforms-form button[type="submit"] {
	width: 100%;
	background: #df591b;
	color: #fff;
	border-radius: 4px;
	padding: 10px;
	font-weight: bold;
	transition: all .1s;
	font-size: 17px;
}

body .site-main div.wpforms-container-full .wpforms-form button[type="submit"]:hover {
	background: #be3d01;
}

body #woocommerce_eu_vat_compliance {
	overflow: hidden;
}

body #vat_self_certify_field label {
	line-height: 12px;
	margin-bottom: 15px;
}

body #billing_company-description {
	display: block !important;
	height: 30px !important;
}

body #billing_company_field .optional {
	display: none;
}

.variation-DepositAmount .ppom-option-label-price {
	display: none !important;
}

/*Media*/

@media(min-width: 1070px) {

	.single-product #content.site-content .col-full {
		max-width: 1170px;
		margin: 0 auto;
	}

}

@media(max-width: 1070px) {
	.site-content .products li .right .product-content {
		flex-direction: column;
		align-items: flex-start;
	}

	.elementor-8 .responsive-full-width .elementor-element.elementor-element-09414f8,
	.responsive-full-width .elementor-column.elementor-col-25 {
		width: 100%;
	}

	.elementor-element-39dd7ca .elementor-column.elementor-col-16 {
		width: 25%;
	}

	.elementor-8 .elementor-element.elementor-element-39dd7ca .elementor-row > div:first-child, 
	.elementor-8 .elementor-element.elementor-element-39dd7ca .elementor-row > div:last-child {
		display: none;
	}

	.below-content .elementor-8 .elementor-element.elementor-element-a82c22b > .elementor-element-populated {
		padding: 15px !important;
	}
}

@media(max-width: 992px) {

	.main-navigation .menu {
		display: flex;
		justify-content: flex-start;
		flex-direction: row-reverse;
	}

	body .main-navigation .menu-primary-menu-container ul li {
		border-top: 0;
		margin-left: 20px;
	}

	body .main-navigation .menu-primary-menu-container ul li a {
		color: #16ddf8;
		font-weight: 400;
	}

	.single-product div.product {
		padding: 0 30px;
	}

	.site-header .col-full-nav {
		z-index: 99;
	}

	.main-header .primary-navigation {
		display: block;
	}

	.main-header .primary-navigation .menu > li {
		display: none;
	}

	body.user-login #menu-header li.my-account,
	#menu-header li.log-in {
		display: block;
	}

	#menu-header li.my-account,
	body.user-login #menu-header li.log-in {
		display: none;
	}

	#menu-header li.order-now-link {
		display: block;
	}

	.topbar-wrapper .menu-toggle-custom {
		display: block;
	}

	.site-header .site-branding .custom-logo-link {
		position: absolute;
		left: 0;
		top: -100px;
	}
	
	.site-header .top-bar .col-full,
	.site-header .top-bar-left,
	.site-header .top-bar-right {
		display: block;
		width: 100%;
	}

	.site-header #menu-top-left li, 
	.site-header #menu-top-right li{
		display: block;
	}

	.site-header #menu-top-left li:first-child, 
	.site-header #menu-top-right li:last-child {
		padding: 0 10px;
	}

	.topbar-wrapper {
		position: relative;
		min-height: 60px;
	}

	.topbar-wrapper .top-bar {
		display: none;
	}

	 #page footer.site-footer .widget {
		display: block;
		overflow: hidden;
		width: 100%;
	}

	#page .site-footer .col-full .widget:nth-child(1),
	#page .site-footer .col-full .widget:nth-child(2) {
		width: 50%;
		float: left;
	}

	.site-footer .footer-brands {
		justify-content: center;
		flex-wrap: wrap;
	}

	.site-footer .footer-brands:first-child {
		margin-top: 0;
	}

	.copyright .textwidget {
		text-align: center;
	}

	.woocommerce-cart .woocommerce .woocommerce-message {
		margin-bottom: 0;
	}

	.elementor-element-39dd7ca .elementor-column.elementor-col-16 {
		width: 50%;
	}

	.woocommerce-MyAccount-content {
		overflow-x: scroll;
	}

	#page .woocommerce-cart-form,
	.woocommerce-checkout .checkout-container {
		display: flex;
		flex-direction: column-reverse;
	}

}

@media(min-width: 768px) {
	.single-toplist .site-logo {
	    width: 40%;
	    float: left;
	}

	.single-toplist .site-ratings {
		float: right;
	}
}

@media(max-width: 767px) {
	.site-content .products > li {
		padding: 35px;
	}

	.site-content .products li .product-head,
	.site-content .products li .product-content {
		text-align: center;
	}

	.site-content .products li .left .product-content {
		padding: 0;
	}

	.site-content .products li img {
		float: none;
		margin: 0 auto;
		margin-bottom: 20px;
	}

	.site-content .products li .product-title {
		text-transform: none;
	}

	.site-content .products > li .row {
		flex-direction: column;
	}

	.site-content .products > li .col-75,
	.site-content .products > li .col-25 {
		width: 100%;
	}

	.ppom-rendering-fields > .does_your_page_contain_a_popup,
	.ppom-rendering-fields .ppom-input-volume {
		padding: 5px !important;
	}

	.single-product .quantity.hidden + .single_add_to_cart_button,
	body.single.single-product .continue-shopping,
	body.single.single-product .sponsor-list,
	#ppom-price-container {
		float: none;
		width: 100%;
	}

	.site-content .products li .right .product-content {
		align-items: center;
	}

	.custom-announcements​ .obfx-grid .entry-title {
		float: none;
	}

	body.single.single-product .sponsor-list {
		display: none;
	}

	.woocommerce-account .col2-set#customer_login .col-1,
	.woocommerce-account .col2-set.addresses .col-1,
	.woocommerce-account .woocommerce-MyAccount-navigation,
	.woocommerce-account .col2-set#customer_login .col-2, 
	.woocommerce-account .col2-set.addresses .col-2,
	.woocommerce-account .woocommerce-MyAccount-content {
		width: 100%;
	}

	body.single-product .cart .single_add_to_cart_button,
	.single-post .single-product .cart .single_add_to_cart_button {
		width: 100%;
	}

	body.single.single-product .redeem-coupon {
		width: 100%;
	}

	body.single.single-product #redeem_coupon {
		width: 100%;
		margin-left: 0;
		padding: 8px 10px;
	}

	.cart-collaterals {
		margin-top: 20px;
	}

	.single-banner_page .single-banner {
		flex-direction: column;
	}
}

@media(max-width: 479px) {
	.site-content .products li .left .product-content ul li {
		width: 100%;
		text-align: left;
	}

	.elementor-element-39dd7ca .elementor-column.elementor-col-16 {
		width: 100%;
	}

	.site-header .site-branding .custom-logo-link img {
		height: 145px;
	}

	body.single.single-product .redeem-coupon div {
		flex-direction: column;
		align-items: center;
	}

	body.single.single-product #redeem_coupon {
		margin-top: 10px;
	}
}