.elementor-8 .elementor-element.elementor-element-40eb915:not(.elementor-motion-effects-element-type-background),
.elementor-8 .elementor-element.elementor-element-40eb915 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
 background-color:#004f70;
}
.elementor-8 .elementor-element.elementor-element-40eb915 {
 transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
 padding:20px 0px 20px 0px;
}
.elementor-8 .elementor-element.elementor-element-40eb915 > .elementor-background-overlay {
 transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-8 .elementor-element.elementor-element-9721039 > .elementor-element-populated {
 color:#ffffff;
 padding:60px 15px 80px 15px;
}
.elementor-8 .elementor-element.elementor-element-478fa99.elementor-widget-heading .elementor-heading-title {
 color:#ffffff;
}
.elementor-8 .elementor-element.elementor-element-478fa99 .elementor-heading-title {
 font-family:"IBM Plex Sans", Sans-serif;
 font-size:59px;
 font-weight:bold;
}
.elementor-8 .elementor-element.elementor-element-66b29ce {
 color:#ffffff;
 font-family:"IBM Plex Sans", Sans-serif;
 font-size:21px;
 line-height:1.5em;
}
.elementor-8 .elementor-element.elementor-element-66b29ce > .elementor-widget-container {
 margin:15px 0px 0px 0px;
}
.elementor-8 .elementor-element.elementor-element-33e3be2 {
 margin-top:40px;
 margin-bottom:0px;
}
.elementor-8 .elementor-element.elementor-element-09414f8 > .elementor-element-populated {
 padding:0px 0px 0px 0px;
}
.elementor-8 .elementor-element.elementor-element-f18f22e a.elementor-button,
.elementor-8 .elementor-element.elementor-element-f18f22e .elementor-button {
 font-family:"IBM Plex Sans", Sans-serif;
 font-size:21px;
 font-weight:400;
 background-color:#df591b;
 border-radius:2px 2px 2px 2px;
 padding:20px 30px 20px 30px;
}
.elementor-8 .elementor-element.elementor-element-f18f22e a.elementor-button:hover,
.elementor-8 .elementor-element.elementor-element-f18f22e .elementor-button:hover,
.elementor-8 .elementor-element.elementor-element-f18f22e a.elementor-button:focus,
.elementor-8 .elementor-element.elementor-element-f18f22e .elementor-button:focus {
 background-color:#be3d01;
}
.elementor-8 .elementor-element.elementor-element-c655689 > .elementor-element-populated {
 padding:0px 0px 0px 0px;
}
.elementor-8 .elementor-element.elementor-element-1bc5628 a.elementor-button,
.elementor-8 .elementor-element.elementor-element-1bc5628 .elementor-button {
 font-size:20px;
 font-weight:400;
 text-decoration:underline;
 line-height:2.3em;
 background-color:rgba(0,0,0,0);
 border-radius:0px 0px 0px 0px;
}
.elementor-8 .elementor-element.elementor-element-1bc5628 > .elementor-widget-container {
 margin:0px 0px 0px 0px;
 padding:0px 0px 0px 0px;
}
.elementor-8 .elementor-element.elementor-element-60de1ae > .elementor-widget-container {
 padding:0px 15px 0px 0px;
}
.elementor-8 .elementor-element.elementor-element-8ff9a8d {
 margin-top:0px;
 margin-bottom:0px;
 padding:40px 0px 0px 0px;
}
.elementor-8 .elementor-element.elementor-element-0ed19cf {
 text-align:center;
}
.elementor-8 .elementor-element.elementor-element-0ed19cf.elementor-widget-heading .elementor-heading-title {
 color:#222222;
}
.elementor-8 .elementor-element.elementor-element-0ed19cf .elementor-heading-title {
 font-family:"IBM Plex Sans", Sans-serif;
 font-size:21px;
 font-weight:400;
}
.elementor-8 .elementor-element.elementor-element-678d912 {
 text-align:center;
}
.elementor-8 .elementor-element.elementor-element-678d912.elementor-widget-heading .elementor-heading-title {
 color:#222222;
}
.elementor-8 .elementor-element.elementor-element-678d912 .elementor-heading-title {
 font-family:"IBM Plex Sans", Sans-serif;
 font-size:44px;
 font-weight:bold;
}
.elementor-8 .elementor-element.elementor-element-c753036 .elementor-divider-separator {
 border-top-style:solid;
 border-top-width:1px;
 border-top-color:#d6d6d6;
 width:100%;
}
.elementor-8 .elementor-element.elementor-element-c753036 .elementor-divider {
 padding-top:0px;
 padding-bottom:0px;
}
.elementor-8 .elementor-element.elementor-element-c753036 > .elementor-widget-container {
 margin:30px 0px 0px 0px;
}
.elementor-8 .elementor-element.elementor-element-cc83a52 {
 margin-top:0px;
 margin-bottom:0px;
 padding:50px 0px 50px 0px;
}
.elementor-8 .elementor-element.elementor-element-21e2852.elementor-widget-heading .elementor-heading-title {
 color:#222222;
}
.elementor-8 .elementor-element.elementor-element-21e2852 .elementor-heading-title {
 font-size:28px;
}
.elementor-8 .elementor-element.elementor-element-5d56773 {
 color:#555555;
 font-size:17px;
}
.elementor-8 .elementor-element.elementor-element-7b62718 {
 text-align:center;
}
.elementor-8 .elementor-element.elementor-element-7b62718.elementor-widget-heading .elementor-heading-title {
 color:#222222;
}
.elementor-8 .elementor-element.elementor-element-7b62718 .elementor-heading-title {
 font-family:"IBM Plex Sans", Sans-serif;
 font-size:28px;
 font-weight:bold;
}
.elementor-8 .elementor-element.elementor-element-65680d4 {
 padding:50px 0px 50px 0px;
}
.elementor-8 .elementor-element.elementor-element-b1be3ad.elementor-view-stacked .elementor-icon {
 background-color:#df591b;
}
.elementor-8 .elementor-element.elementor-element-b1be3ad.elementor-view-framed .elementor-icon,
.elementor-8 .elementor-element.elementor-element-b1be3ad.elementor-view-default .elementor-icon {
 fill:#df591b;
 color:#df591b;
 border-color:#df591b;
}
.elementor-8 .elementor-element.elementor-element-b1be3ad.elementor-position-right .elementor-icon-box-icon {
 margin-left:15px;
}
.elementor-8 .elementor-element.elementor-element-b1be3ad.elementor-position-left .elementor-icon-box-icon {
 margin-right:15px;
}
.elementor-8 .elementor-element.elementor-element-b1be3ad.elementor-position-top .elementor-icon-box-icon {
 margin-bottom:15px;
}
.elementor-8 .elementor-element.elementor-element-b1be3ad .elementor-icon i {
 transform:rotate(0deg);
}
.elementor-8 .elementor-element.elementor-element-b1be3ad .elementor-icon-box-title {
 margin-bottom:10px;
}
.elementor-8 .elementor-element.elementor-element-b1be3ad .elementor-icon-box-content .elementor-icon-box-title {
 color:#222222;
 font-size:21px;
 font-weight:bold;
}
.elementor-8 .elementor-element.elementor-element-b1be3ad .elementor-icon-box-content .elementor-icon-box-description {
 color:#555555;
 font-size:17px;
}
.elementor-8 .elementor-element.elementor-element-b1be3ad > .elementor-widget-container {
 padding:20px 0px 20px 0px;
}
.elementor-8 .elementor-element.elementor-element-1210c68.elementor-view-stacked .elementor-icon {
 background-color:#df591b;
}
.elementor-8 .elementor-element.elementor-element-1210c68.elementor-view-framed .elementor-icon,
.elementor-8 .elementor-element.elementor-element-1210c68.elementor-view-default .elementor-icon {
 fill:#df591b;
 color:#df591b;
 border-color:#df591b;
}
.elementor-8 .elementor-element.elementor-element-1210c68.elementor-position-right .elementor-icon-box-icon {
 margin-left:15px;
}
.elementor-8 .elementor-element.elementor-element-1210c68.elementor-position-left .elementor-icon-box-icon {
 margin-right:15px;
}
.elementor-8 .elementor-element.elementor-element-1210c68.elementor-position-top .elementor-icon-box-icon {
 margin-bottom:15px;
}
.elementor-8 .elementor-element.elementor-element-1210c68 .elementor-icon i {
 transform:rotate(0deg);
}
.elementor-8 .elementor-element.elementor-element-1210c68 .elementor-icon-box-title {
 margin-bottom:10px;
}
.elementor-8 .elementor-element.elementor-element-1210c68 .elementor-icon-box-content .elementor-icon-box-title {
 color:#222222;
 font-size:21px;
 font-weight:bold;
}
.elementor-8 .elementor-element.elementor-element-1210c68 .elementor-icon-box-content .elementor-icon-box-description {
 color:#555555;
 font-size:17px;
}
.elementor-8 .elementor-element.elementor-element-1210c68 > .elementor-widget-container {
 padding:20px 0px 20px 0px;
}
.elementor-8 .elementor-element.elementor-element-3e873ba.elementor-view-stacked .elementor-icon {
 background-color:#df591b;
}
.elementor-8 .elementor-element.elementor-element-3e873ba.elementor-view-framed .elementor-icon,
.elementor-8 .elementor-element.elementor-element-3e873ba.elementor-view-default .elementor-icon {
 fill:#df591b;
 color:#df591b;
 border-color:#df591b;
}
.elementor-8 .elementor-element.elementor-element-3e873ba.elementor-position-right .elementor-icon-box-icon {
 margin-left:15px;
}
.elementor-8 .elementor-element.elementor-element-3e873ba.elementor-position-left .elementor-icon-box-icon {
 margin-right:15px;
}
.elementor-8 .elementor-element.elementor-element-3e873ba.elementor-position-top .elementor-icon-box-icon {
 margin-bottom:15px;
}
.elementor-8 .elementor-element.elementor-element-3e873ba .elementor-icon i {
 transform:rotate(0deg);
}
.elementor-8 .elementor-element.elementor-element-3e873ba .elementor-icon-box-title {
 margin-bottom:10px;
}
.elementor-8 .elementor-element.elementor-element-3e873ba .elementor-icon-box-content .elementor-icon-box-title {
 color:#222222;
 font-size:21px;
 font-weight:bold;
}
.elementor-8 .elementor-element.elementor-element-3e873ba .elementor-icon-box-content .elementor-icon-box-description {
 color:#555555;
 font-size:17px;
}
.elementor-8 .elementor-element.elementor-element-3e873ba > .elementor-widget-container {
 padding:20px 0px 20px 0px;
}
.elementor-8 .elementor-element.elementor-element-d102c66.elementor-view-stacked .elementor-icon {
 background-color:#df591b;
}
.elementor-8 .elementor-element.elementor-element-d102c66.elementor-view-framed .elementor-icon,
.elementor-8 .elementor-element.elementor-element-d102c66.elementor-view-default .elementor-icon {
 fill:#df591b;
 color:#df591b;
 border-color:#df591b;
}
.elementor-8 .elementor-element.elementor-element-d102c66.elementor-position-right .elementor-icon-box-icon {
 margin-left:15px;
}
.elementor-8 .elementor-element.elementor-element-d102c66.elementor-position-left .elementor-icon-box-icon {
 margin-right:15px;
}
.elementor-8 .elementor-element.elementor-element-d102c66.elementor-position-top .elementor-icon-box-icon {
 margin-bottom:15px;
}
.elementor-8 .elementor-element.elementor-element-d102c66 .elementor-icon i {
 transform:rotate(0deg);
}
.elementor-8 .elementor-element.elementor-element-d102c66 .elementor-icon-box-title {
 margin-bottom:10px;
}
.elementor-8 .elementor-element.elementor-element-d102c66 .elementor-icon-box-content .elementor-icon-box-title {
 color:#222222;
 font-size:21px;
 font-weight:bold;
}
.elementor-8 .elementor-element.elementor-element-d102c66 .elementor-icon-box-content .elementor-icon-box-description {
 color:#555555;
 font-size:17px;
}
.elementor-8 .elementor-element.elementor-element-d102c66 > .elementor-widget-container {
 padding:20px 0px 20px 0px;
}
.elementor-8 .elementor-element.elementor-element-e99ff9d.elementor-view-stacked .elementor-icon {
 background-color:#df591b;
}
.elementor-8 .elementor-element.elementor-element-e99ff9d.elementor-view-framed .elementor-icon,
.elementor-8 .elementor-element.elementor-element-e99ff9d.elementor-view-default .elementor-icon {
 fill:#df591b;
 color:#df591b;
 border-color:#df591b;
}
.elementor-8 .elementor-element.elementor-element-e99ff9d.elementor-position-right .elementor-icon-box-icon {
 margin-left:15px;
}
.elementor-8 .elementor-element.elementor-element-e99ff9d.elementor-position-left .elementor-icon-box-icon {
 margin-right:15px;
}
.elementor-8 .elementor-element.elementor-element-e99ff9d.elementor-position-top .elementor-icon-box-icon {
 margin-bottom:15px;
}
.elementor-8 .elementor-element.elementor-element-e99ff9d .elementor-icon i {
 transform:rotate(0deg);
}
.elementor-8 .elementor-element.elementor-element-e99ff9d .elementor-icon-box-title {
 margin-bottom:10px;
}
.elementor-8 .elementor-element.elementor-element-e99ff9d .elementor-icon-box-content .elementor-icon-box-title {
 color:#222222;
 font-size:21px;
 font-weight:bold;
}
.elementor-8 .elementor-element.elementor-element-e99ff9d .elementor-icon-box-content .elementor-icon-box-description {
 color:#555555;
 font-size:17px;
}
.elementor-8 .elementor-element.elementor-element-e99ff9d > .elementor-widget-container {
 padding:20px 0px 20px 0px;
}
.elementor-8 .elementor-element.elementor-element-6551338.elementor-view-stacked .elementor-icon {
 background-color:#df591b;
}
.elementor-8 .elementor-element.elementor-element-6551338.elementor-view-framed .elementor-icon,
.elementor-8 .elementor-element.elementor-element-6551338.elementor-view-default .elementor-icon {
 fill:#df591b;
 color:#df591b;
 border-color:#df591b;
}
.elementor-8 .elementor-element.elementor-element-6551338.elementor-position-right .elementor-icon-box-icon {
 margin-left:15px;
}
.elementor-8 .elementor-element.elementor-element-6551338.elementor-position-left .elementor-icon-box-icon {
 margin-right:15px;
}
.elementor-8 .elementor-element.elementor-element-6551338.elementor-position-top .elementor-icon-box-icon {
 margin-bottom:15px;
}
.elementor-8 .elementor-element.elementor-element-6551338 .elementor-icon i {
 transform:rotate(0deg);
}
.elementor-8 .elementor-element.elementor-element-6551338 .elementor-icon-box-title {
 margin-bottom:10px;
}
.elementor-8 .elementor-element.elementor-element-6551338 .elementor-icon-box-content .elementor-icon-box-title {
 color:#222222;
 font-size:21px;
 font-weight:bold;
}
.elementor-8 .elementor-element.elementor-element-6551338 .elementor-icon-box-content .elementor-icon-box-description {
 color:#555555;
 font-size:17px;
}
.elementor-8 .elementor-element.elementor-element-6551338 > .elementor-widget-container {
 padding:20px 0px 20px 0px;
}
.elementor-8 .elementor-element.elementor-element-7bdc314 {
 padding:0px 0px 100px 0px;
}
.elementor-8 .elementor-element.elementor-element-57d4cca a.elementor-button,
.elementor-8 .elementor-element.elementor-element-57d4cca .elementor-button {
 font-family:"IBM Plex Sans", Sans-serif;
 font-size:21px;
 font-weight:400;
 background-color:#df591b;
 border-radius:2px 2px 2px 2px;
 padding:20px 25px 20px 25px;
}
.elementor-8 .elementor-element.elementor-element-57d4cca a.elementor-button:hover,
.elementor-8 .elementor-element.elementor-element-57d4cca .elementor-button:hover,
.elementor-8 .elementor-element.elementor-element-57d4cca a.elementor-button:focus,
.elementor-8 .elementor-element.elementor-element-57d4cca .elementor-button:focus {
 background-color:#be3d01;
}
.elementor-8 .elementor-element.elementor-element-bbdb615 a.elementor-button,
.elementor-8 .elementor-element.elementor-element-bbdb615 .elementor-button {
 font-family:"IBM Plex Sans", Sans-serif;
 font-size:21px;
 font-weight:400;
 background-color:#df591b;
 border-radius:2px 2px 2px 2px;
 padding:20px 40px 20px 39px;
}
.elementor-8 .elementor-element.elementor-element-bbdb615 a.elementor-button:hover,
.elementor-8 .elementor-element.elementor-element-bbdb615 .elementor-button:hover,
.elementor-8 .elementor-element.elementor-element-bbdb615 a.elementor-button:focus,
.elementor-8 .elementor-element.elementor-element-bbdb615 .elementor-button:focus {
 background-color:#be3d01;
}
.elementor-8 .elementor-element.elementor-element-c9f9179 {
 text-align:center;
}
.elementor-8 .elementor-element.elementor-element-c9f9179.elementor-widget-heading .elementor-heading-title {
 color:#222222;
}
.elementor-8 .elementor-element.elementor-element-c9f9179 .elementor-heading-title {
 font-size:21px;
 font-weight:400;
}
.elementor-8 .elementor-element.elementor-element-1ad987c {
 padding:5px 0px 50px 0px;
}
.elementor-8 .elementor-element.elementor-element-9ca3027 .elementor-image img {
 transition-duration:0.5s;
}
.elementor-8 .elementor-element.elementor-element-9ca3027 .widget-image-caption {
 line-height:0.1em;
}
.elementor-8 .elementor-element.elementor-element-9ca3027 > .elementor-widget-container {
 margin:25px 0px 0px 0px;
}
.elementor-8 .elementor-element.elementor-element-2edc126 {
 text-align:center;
}
.elementor-8 .elementor-element.elementor-element-2edc126 .elementor-image img {
 transition-duration:0.5s;
}
.elementor-8 .elementor-element.elementor-element-59f1404 {
 text-align:center;
}
.elementor-8 .elementor-element.elementor-element-59f1404.elementor-widget-heading .elementor-heading-title {
 color:#222222;
}
.elementor-8 .elementor-element.elementor-element-59f1404 .elementor-heading-title {
 font-size:21px;
 font-weight:400;
}
.elementor-8 .elementor-element.elementor-element-39dd7ca {
 padding:10px 10px 10px 10px;
}
.elementor-8 .elementor-element.elementor-element-8c1e3a6 > .elementor-element-populated {
 padding:10px 15px 10px 15px;
}
.elementor-8 .elementor-element.elementor-element-3d8a6c3.elementor-view-stacked .elementor-icon:hover {
 background-color:#ffffff;
}
.elementor-8 .elementor-element.elementor-element-3d8a6c3.elementor-view-framed .elementor-icon:hover,
.elementor-8 .elementor-element.elementor-element-3d8a6c3.elementor-view-default .elementor-icon:hover {
 fill:#ffffff;
 color:#ffffff;
 border-color:#ffffff;
}
.elementor-8 .elementor-element.elementor-element-3d8a6c3.elementor-position-right .elementor-icon-box-icon {
 margin-left:0px;
}
.elementor-8 .elementor-element.elementor-element-3d8a6c3.elementor-position-left .elementor-icon-box-icon {
 margin-right:0px;
}
.elementor-8 .elementor-element.elementor-element-3d8a6c3.elementor-position-top .elementor-icon-box-icon {
 margin-bottom:0px;
}
.elementor-8 .elementor-element.elementor-element-3d8a6c3 .elementor-icon {
 font-size:60px;
}
.elementor-8 .elementor-element.elementor-element-3d8a6c3 .elementor-icon i {
 transform:rotate(0deg);
}
.elementor-8 .elementor-element.elementor-element-3d8a6c3 .elementor-icon-box-content .elementor-icon-box-title {
 color:#222222;
 font-size:17px;
 line-height:1.41em;
}
.elementor-8 .elementor-element.elementor-element-3d8a6c3 > .elementor-widget-container {
 padding:20px 30px 10px 30px;
 background-color:#f8f8f8;
 border-style:solid;
 border-width:2px 2px 2px 2px;
 border-color:#dc9814;
 border-radius:4px 4px 4px 4px;
}
.elementor-8 .elementor-element.elementor-element-3d8a6c3:hover .elementor-widget-container {
 background-color:#df591b;
}
.elementor-8 .elementor-element.elementor-element-8c99e33 > .elementor-element-populated {
 padding:10px 15px 10px 15px;
}
.elementor-8 .elementor-element.elementor-element-4757bd5.elementor-view-stacked .elementor-icon:hover {
 background-color:#ffffff;
}
.elementor-8 .elementor-element.elementor-element-4757bd5.elementor-view-framed .elementor-icon:hover,
.elementor-8 .elementor-element.elementor-element-4757bd5.elementor-view-default .elementor-icon:hover {
 fill:#ffffff;
 color:#ffffff;
 border-color:#ffffff;
}
.elementor-8 .elementor-element.elementor-element-4757bd5.elementor-position-right .elementor-icon-box-icon {
 margin-left:0px;
}
.elementor-8 .elementor-element.elementor-element-4757bd5.elementor-position-left .elementor-icon-box-icon {
 margin-right:0px;
}
.elementor-8 .elementor-element.elementor-element-4757bd5.elementor-position-top .elementor-icon-box-icon {
 margin-bottom:0px;
}
.elementor-8 .elementor-element.elementor-element-4757bd5 .elementor-icon {
 font-size:60px;
}
.elementor-8 .elementor-element.elementor-element-4757bd5 .elementor-icon i {
 transform:rotate(0deg);
}
.elementor-8 .elementor-element.elementor-element-4757bd5 .elementor-icon-box-content .elementor-icon-box-title {
 color:#222222;
 font-size:17px;
 line-height:1.41em;
 text-align: center;
 margin-bottom: 5px;
}
.elementor-8 .elementor-element.elementor-element-4757bd5 > .elementor-widget-container {
 padding:20px 20px 10px 20px;
 background-color:#f8f8f8;
 border-style:solid;
 border-width:2px 2px 2px 2px;
 border-color:#dc9814;
 border-radius:4px 4px 4px 4px;
}
.elementor-8 .elementor-element.elementor-element-4757bd5:hover .elementor-widget-container {
 background-color:#df591b;
}
.elementor-8 .elementor-element.elementor-element-a82c22b > .elementor-element-populated {
 padding:10px 19px 10px 19px;
}
.elementor-8 .elementor-element.elementor-element-cf04a77.elementor-view-stacked .elementor-icon:hover {
 background-color:#ffffff;
}
.elementor-8 .elementor-element.elementor-element-cf04a77.elementor-view-framed .elementor-icon:hover,
.elementor-8 .elementor-element.elementor-element-cf04a77.elementor-view-default .elementor-icon:hover {
 fill:#ffffff;
 color:#ffffff;
 border-color:#ffffff;
}
.elementor-8 .elementor-element.elementor-element-cf04a77.elementor-position-right .elementor-icon-box-icon {
 margin-left:0px;
}
.elementor-8 .elementor-element.elementor-element-cf04a77.elementor-position-left .elementor-icon-box-icon {
 margin-right:0px;
}
.elementor-8 .elementor-element.elementor-element-cf04a77.elementor-position-top .elementor-icon-box-icon {
 margin-bottom:0px;
}
.elementor-8 .elementor-element.elementor-element-cf04a77 .elementor-icon {
 font-size:60px;
}
.elementor-8 .elementor-element.elementor-element-cf04a77 .elementor-icon i {
 transform:rotate(0deg);
}
.elementor-8 .elementor-element.elementor-element-cf04a77 .elementor-icon-box-content .elementor-icon-box-title {
 color:#222222;
 font-size:17px;
 line-height:1.41em;
 text-align: center;
 margin-bottom: 5px;
}
.elementor-8 .elementor-element.elementor-element-cf04a77 > .elementor-widget-container {
 padding:20px 30px 10px 30px;
 background-color:#f8f8f8;
 border-style:solid;
 border-width:2px 2px 2px 2px;
 border-color:#dc9814;
 border-radius:4px 4px 4px 4px;
}
.elementor-8 .elementor-element.elementor-element-cf04a77:hover .elementor-widget-container {
 background-color:#df591b;
}
.elementor-8 .elementor-element.elementor-element-f00c4cb > .elementor-element-populated {
 padding:10px 15px 10px 15px;
}
.elementor-8 .elementor-element.elementor-element-4cd1501.elementor-view-stacked .elementor-icon:hover {
 background-color:#ffffff;
}
.elementor-8 .elementor-element.elementor-element-4cd1501.elementor-view-framed .elementor-icon:hover,
.elementor-8 .elementor-element.elementor-element-4cd1501.elementor-view-default .elementor-icon:hover {
 fill:#ffffff;
 color:#ffffff;
 border-color:#ffffff;
}
.elementor-8 .elementor-element.elementor-element-4cd1501.elementor-position-right .elementor-icon-box-icon {
 margin-left:0px;
}
.elementor-8 .elementor-element.elementor-element-4cd1501.elementor-position-left .elementor-icon-box-icon {
 margin-right:0px;
}
.elementor-8 .elementor-element.elementor-element-4cd1501.elementor-position-top .elementor-icon-box-icon {
 margin-bottom:0px;
}
.elementor-8 .elementor-element.elementor-element-4cd1501 .elementor-icon {
 font-size:60px;
}
.elementor-8 .elementor-element.elementor-element-4cd1501 .elementor-icon i {
 transform:rotate(0deg);
}
.elementor-8 .elementor-element.elementor-element-4cd1501 .elementor-icon-box-content .elementor-icon-box-title {
 color:#222222;
 font-size:17px;
 line-height:1.41em;
 text-align: center;
 margin-bottom: 5px;
}
.elementor-8 .elementor-element.elementor-element-4cd1501 > .elementor-widget-container {
 padding:20px 30px 10px 30px;
 background-color:#f8f8f8;
 border-style:solid;
 border-width:2px 2px 2px 2px;
 border-color:#dc9814;
 border-radius:4px 4px 4px 4px;
}
.elementor-8 .elementor-element.elementor-element-4cd1501:hover .elementor-widget-container {
 background-color:#df591b;
}
.below-content .elementor-column-gap-default > .elementor-row > .elementor-column > .elementor-element-populated {
    padding: 15px;
}
.below-content .elementor-8 .elementor-element.elementor-element-a82c22b > .elementor-element-populated {
    padding: 15px 19px 15px 19px;
}
.below-content .elementor-icon svg {
	width: 1.1em;
	height: 1.1em;
}
@media(min-width:768px) {
 .elementor-8 .elementor-element.elementor-element-9721039 {
  width:56.694%;
 }
 .elementor-8 .elementor-element.elementor-element-09414f8 {
  width:37.423%;
 }
 .elementor-8 .elementor-element.elementor-element-c655689 {
  width:62.571%;
 }
 .elementor-8 .elementor-element.elementor-element-e74fa5d {
  width:43.303%;
 }
 .elementor-8 .elementor-element.elementor-element-f45ba8f {
  width:32.952%;
 }
 .elementor-8 .elementor-element.elementor-element-3daa6e7 {
  width:67.086%;
 }
}
@media(max-width:767px) {
 .elementor-8 .elementor-element.elementor-element-b1be3ad .elementor-icon-box-icon {
  margin-bottom:15px;
 }
 .elementor-8 .elementor-element.elementor-element-1210c68 .elementor-icon-box-icon {
  margin-bottom:15px;
 }
 .elementor-8 .elementor-element.elementor-element-3e873ba .elementor-icon-box-icon {
  margin-bottom:15px;
 }
 .elementor-8 .elementor-element.elementor-element-d102c66 .elementor-icon-box-icon {
  margin-bottom:15px;
 }
 .elementor-8 .elementor-element.elementor-element-e99ff9d .elementor-icon-box-icon {
  margin-bottom:15px;
 }
 .elementor-8 .elementor-element.elementor-element-6551338 .elementor-icon-box-icon {
  margin-bottom:15px;
 }
 .elementor-8 .elementor-element.elementor-element-3d8a6c3 .elementor-icon-box-icon {
  margin-bottom:0px;
 }
 .elementor-8 .elementor-element.elementor-element-4757bd5 .elementor-icon-box-icon {
  margin-bottom:0px;
 }
 .elementor-8 .elementor-element.elementor-element-cf04a77 .elementor-icon-box-icon {
  margin-bottom:0px;
 }
 .elementor-8 .elementor-element.elementor-element-4cd1501 .elementor-icon-box-icon {
  margin-bottom:0px;
 }
}

.elementor-widget-container .wp-caption img,
.elementor-widget-container .elementor-image img{
	margin: 0 auto;
}

.elementor-icon-box-icon{
	text-align: center;
}


.elementor-8 .elementor-element.elementor-element-3d8a6c3 .elementor-icon-box-content .elementor-icon-box-title {
	text-align: center;
	font-weight: bold;
	margin-bottom: 5px;
}

.elementor-animation-grow:active, .elementor-animation-grow:focus, .elementor-animation-grow:hover {
    transform: scale(1.1);
}

.elementor-8 .elementor-element.elementor-position-top .elementor-icon-box-icon {
	max-height: 78px;
}

/*Columns*/

.elementor-row {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
}
.elementor-column.elementor-col-25, .elementor-column[data-col="25"] {
    width: 25%;
}

.elementor-column.elementor-col-16, .elementor-column[data-col="16"] {
	width: 16.666%;
}

.elementor-widget-wrap > .elementor-element .small-block {
	max-width: 820px;
	margin: 0 auto;
}

@media(max-width:992px) {

	.elementor-row {
		display: block;
	}

	.elementor-column.elementor-col-25, .elementor-column[data-col="25"] {
	    width: 50%;
	    float: left;
	}
	.elementor-column.elementor-col-16, .elementor-column[data-col="16"] {
		width: 50%;
		float: left;
	}
	
	.elementor-8 .elementor-element.elementor-element-1ad987c .elementor-row > div:first-child,
	.elementor-8 .elementor-element.elementor-element-1ad987c .elementor-row > div:first-child,
	.elementor-8 .elementor-element.elementor-element-39dd7ca .elementor-row > div:first-child,
	.elementor-8 .elementor-element.elementor-element-39dd7ca .elementor-row > div:last-child{
		display: none;
	}
}

@media(max-width: 479px) {

	.elementor-column.elementor-col-25, .elementor-column[data-col="25"] {
	    width: 100%;
	    float: left;
	}
	
	.elementor-column.elementor-col-16, .elementor-column[data-col="16"] {
		width: 100%;
		float: left;
	}
}